@charset "utf-8";
/* CSS Document */
html
{
	font-family: Arial, Helvetica, sans-serif;
}

body
{
	background-color: rgb(73, 89, 134);
}

.contenedor{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 15vw;
}

.divLateral
{
	/*background-color: rgba(0,0,255,0.3);*/
	width: 30%;
	height: 100vh;
}

.divAzul
{
	background-color: rgba(0,0,255,0.3);
	width: 30%;
	top: 50%;
	right: 0%;
	left: auto;
	position: absolute;
	padding: 1.5%;
	text-align: center;
	border-radius: 15px 0px 0px 15px;
}

.divTitulo
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divLogin
{
	padding-top: 57vh;
	padding-left: 13vw;
	width: 32%;
}

.letraGris
{
	color: rgb(90,90,90)
}

.degradado
{
	color: rgb(255,255,255);
	background-image: linear-gradient(to right, rgb(0, 0, 250), rgb(255, 255, 255));
	padding:1%;
	margin-bottom:2%;
}