# Dependencias
/vendor/
/.vscode/
/imagenes/
/imagenes fuente/
/documentos/
/estudiantes/
/tcpdf/

# Configuración sensible
.env

# Archivos temporales
*.log
*.tmp
*.bak

# Bases de datos locales
*.sqlite

# Archivos del sistema
.DS_Store
Thumbs.db